<div id="page-content-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!isUserLogIn" routerLink = "/login" routerLinkActive="active">SignIn</a>
        <a class="nav-link" (click)= "logOutAuthUser()" *ngIf="isUserLogIn"  routerLink = "/login" routerLinkActive="active">Log Out</a>
      </ul>
    </div>
  </nav>
  <nav >
    <!-- class="navbar navbar-expand-lg nav-dark bg-dark"
      <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <div *ngIf="!isUserLogIn">
          <a class="nav-link"  routerLink = "/login" routerLinkActive="active">Login</a>
          <a class="nav-link" routerLink = "/register" routerLinkActive="active">Register</a>
        </div>
        <div *ngIf="isUserLogIn">
          <a class="nav-link" (click)= "logOutAuthUser()"  routerLink = "/login" routerLinkActive="active">Log Out</a>
        </div>
      </ul>
    </div> -->
  </nav>
</div>

